html, body {
	width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
	display: table;
    box-sizing: inherit;

    background-image: url("../images/bg-escheresque.png");
    background-color: #000000;

    border-top: 5px solid #6cacf3;

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
	font-weight: 500;
	font-size: 1.75em;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-weight: 300;
	font-size: 1.25rem;
	font-family: 'Roboto Mono', monospace;
}

.hero {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.hero-inner {
    text-align: center;
    display: inline-block;
    padding: 1.5em;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.syntax-blue {
    font-weight: 700;
    color: #4d8bd2;91c333
}

.syntax-green {
    font-weight: 700;
    color: #91c333;
}

.syntax-grey {
    font-weight: 100;
    font-style: italic;
    color: #969696;
    font-size: 1rem;
}

.apps {
    padding: 1.5em 0 0 0;
}

.social {
    padding: 1.5em 0;
}

ul, ol {
	list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social li, .apps li {
    display: inline-block;
    padding: 0 0.6em;
}